@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*/////////////////////*/
/*  NAVIGATION STYLES  */
/*/////////////////////*/

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightblue;
  background-color: lightblue;
}

.menu, .player-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu h1 {
  margin-right: 50px;
  margin-left: 50px;
}

.player-logout p, .menu-link {
  margin: auto 15px;
}

.menu-link {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  padding: 5px;
}

.menu-link:visited {
  color: black;
}

 .menu-link:hover {
   background: lightsalmon;
   border-radius: 15px;
   color: white;
 }

.player-logout {
  margin-right: 50px;
}

.nav-avatar {
  height: 60px;
}

/*////////////////*/
/*  LOGIN STYLES  */
/*////////////////*/

.login-window-container {
  width:100%;
  text-align: center;
}

.login-window {
  width: 33%;
  height: 600px;
  margin: 25px auto;
}

.app-logo {
  width: 80%;
  height:80%;
  margin: auto auto;
  background-image: url("../src/utils/app-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.login-window form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-window select, .create-question input{
  width: 60%;
  height: 40px;
  font-size: 1.1rem;
  padding-left: 15px;
}

.login-window button, .create-question button {
  width: 33%;
  height: 40px;
  margin-top: 15px;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: lightblue;
  font-size: 1.2rem;
  color: white;
}

/*//////////////////////////*/
/*  CREATE QUESTION STYLES  */
/*//////////////////////////*/

.create-question {
  /*border: 1px solid lightblue;*/
  margin: 25px auto;
  width: 33%;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-question input::placeholder{
  color: lightgray;
  font-weight: 300;
}

/*///////////////////////////*/
/*  QUESTION DISPLAY STYLES  */
/*///////////////////////////*/

.question-box, .result-box {
  border: 1px solid lightgray;
  border-radius: 5px;
  width:45%;
  margin: 25px auto;
}

.question-box h3, .result-box h3 {
  background-color: lightgray;
  padding: 12px;
  margin-top:0;
}

.question-and-avatar-wrapper, .answer-and-avatar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
}

.question-and-avatar-wrapper h2, .answer-and-avatar-wrapper h2 {
  margin-bottom: 0px;
  margin-top: 5px;
}

.question-and-avatar-wrapper img, .answer-and-avatar-wrapper img {
  border-right: 1px solid lightgray;
  padding-right: 25px;
  margin-right: 25px;
}

.question-and-avatar-wrapper label {
  font-size: 1.2rem;
}

.question-and-avatar-wrapper input {
  margin-top: 15px;
  margin-left: 15px;
}

.question-and-avatar-wrapper button {
  width: 66%;
  height: 40px;
  margin-top: 30px;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: lightblue;
  font-size: 1.2rem;
  color: white;
  margin-right: 0;
}

/*//////////////////////////*/
/*  RESULTS DISPLAY STYLES  */
/*//////////////////////////*/

.result-answer-box {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 25px 25px;
  width: 100%;
}

.result-answers-wrapper {
  width: 100%;
}

.result-answer-box h4 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
}

/*////////////////////////////////*/
/*  QUESTION LIST DISPLAY STYLES  */
/*////////////////////////////////*/

.question-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.answered-questions, .unanswered-questions {
  border: 3px solid cadetblue;
  border-radius: 5px;
  margin-top: 25px;
  width: 45%;
}

.unanswered-questions {
  border: 3px solid indianred;
}

.answered-questions h2, .unanswered-questions h2 {
  background-color: cadetblue;
  padding: 12px 0;
  margin-top:0;
  text-align: center;
  color: white;
}

.unanswered-questions h2 {
  background-color: indianred;
}

.list-question-box {
  width: 95%;
  border: 2px solid lightslategray;
  border-radius: 5px;
  margin: 15px auto;
}

.list-question-box h3 {
  border-bottom: 2px solid lightslategray;
  padding: 12px 0 12px 12px;
  margin-top:0;
  margin-bottom: 5px;
}

.list-questions-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  justify-content: center;
}

.list-question-and-avatar-wrapper {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.list-question-and-avatar-wrapper img {
  border-right: 1px solid lightgray;
  padding-right: 25px;
  margin-right: 25px;
}

.list-question-and-avatar-wrapper button {
  width: 200px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid lightskyblue;
  border-radius: 5px;
  background-color: lightskyblue;
  color: white;
  font-size: 1.1rem;
}
