@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*/////////////////////*/
/*  NAVIGATION STYLES  */
/*/////////////////////*/

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightblue;
  background-color: lightblue;
}

.menu, .player-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu h1 {
  margin-right: 50px;
  margin-left: 50px;
}

.player-logout p, .menu-link {
  margin: auto 15px;
}

.menu-link {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  padding: 5px;
}

.menu-link:visited {
  color: black;
}

 .menu-link:hover {
   background: lightsalmon;
   border-radius: 15px;
   color: white;
 }

.player-logout {
  margin-right: 50px;
}

.nav-avatar {
  height: 60px;
}

/*////////////////*/
/*  LOGIN STYLES  */
/*////////////////*/

.login-window-container {
  width:100%;
  text-align: center;
}

.login-window {
  width: 33%;
  height: 600px;
  margin: 25px auto;
}

.app-logo {
  width: 80%;
  height:80%;
  margin: auto auto;
  background-image: url("../src/utils/app-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.login-window form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-window select, .create-question input{
  width: 60%;
  height: 40px;
  font-size: 1.1rem;
  padding-left: 15px;
}

.login-window button, .create-question button {
  width: 33%;
  height: 40px;
  margin-top: 15px;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: lightblue;
  font-size: 1.2rem;
  color: white;
}

/*//////////////////////////*/
/*  CREATE QUESTION STYLES  */
/*//////////////////////////*/

.create-question {
  /*border: 1px solid lightblue;*/
  margin: 25px auto;
  width: 33%;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-question input::placeholder{
  color: lightgray;
  font-weight: 300;
}

/*///////////////////////////*/
/*  QUESTION DISPLAY STYLES  */
/*///////////////////////////*/

.question-box, .result-box, .player-box {
  border: 1px solid lightgray;
  border-radius: 5px;
  width:45%;
  margin: 25px auto;
}

.question-box h3, .result-box h3, .player-box h3 {
  background-color: lightgray;
  padding: 12px;
  margin-top:0;
}

.question-and-avatar-wrapper, .answer-and-avatar-wrapper, .scores-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
}

.question-and-avatar-wrapper h2, .answer-and-avatar-wrapper h2, .scores-wrapper h2 {
  margin-bottom: 0px;
  margin-top: 5px;
}

.question-and-avatar-wrapper img, .answer-and-avatar-wrapper img, .scores-wrapper img{
  border-right: 1px solid lightgray;
  padding-right: 25px;
  margin-right: 25px;
}

.question-and-avatar-wrapper label, .question-and-avatar-wrapper p {
  font-size: 1.2rem;
}

.question-and-avatar-wrapper input {
  margin-top: 15px;
  margin-left: 15px;
}

.question-and-avatar-wrapper button {
  width: 66%;
  height: 40px;
  margin-top: 30px;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: lightblue;
  font-size: 1.2rem;
  color: white;
  margin-right: 0;
}

.dots, .options-preview {
  margin-top:0;
  margin-bottom: 0;
  color:gray;
}


/*//////////////////////////*/
/*  RESULTS DISPLAY STYLES  */
/*//////////////////////////*/


.result-answer-box {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 25px 25px;
  width: 100%;
}

.result-answers-wrapper {
  width: 100%;
}

.result-answer-box h4 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
}

/*/////////////////////////*/
/*  QUESTIONS LIST STYLES  */
/*/////////////////////////*/

.questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "answered unanswered";
  grid-auto-flow: column;
  grid-gap: 5px;
  margin: 25px 25px;
}

.answered {
  grid-area: answered;
  grid-row-start: auto;
  grid-row-end: auto;
  border-color: lightgreen;
}

.answered h3 {
  background-color: lightgreen;
}

.unanswered {
  grid-area:unanswered;
  grid-row-start: inherit;
  grid-row-end: auto;
  border-color: lightsalmon;
}

.unanswered h3 {
  background-color: lightsalmon;
}

h2.answered, h2.unanswered {
  text-align: center;
}

.question-box {
  width: 80%;
}

/*///////////////////////*/
/*  LEADERBOARDS STYLES  */
/*///////////////////////*/

.scores-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
}

.total-score {
  padding: 15px 30px;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
}

.total-score h2 {
  background-color: cadetblue;
  text-align: center;
  width: 90px;
  height: 90px;
  border-radius: 15px;
  color: white;
  font-size: 4rem;
  font-weight: 400;
}

.total-score p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.player-results {
  margin: 0 50px 0 0;
  padding: 0 25px 0 0;
  height: 100%;
}

.player-results h2:first-child {
  border-bottom: 1px solid lightgray;
  margin-bottom: 25px;
  padding-bottom: 25px;
}